body {
    margin: auto;
    padding: 0 80px;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header__nav {
    height: max-content;
}

.header__nav a:not(:last-child) {
    margin-right: 20px;
}

img {
    width: 200px;
}

.footer {
    padding-top: 50px;
}

.cards {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cards__item {
    height: 100%;
}

.cards__item img + p {
    margin-top: 20px;
}
